body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    min-width: 700px;
    width: 100%;
    margin-right: 0px;
}

.top-control {
    line-height: 30px;
}

.top-control-10 {
    margin-top: 10px;
}

.top-control-50 {
    margin-top: 50px;
}

.top-control-80 {
    margin-top: 80px;
}

.top-control-150 {
    margin-top: 150px;
}

.content-center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.circle-head-big, .circle-head-small {
    width: 220px;
    height: 220px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.circle-head-small {
    width: 110px;
    height: 110px;
}

.title-name {
    font-weight: bold;
    font-size: 40px;
    padding-top: 10px;
}

.row-height {
    margin-top: 50px;
}

.pay-address {
    font-size: 30px;
    margin-top: 10px;
    color: #b3b3b3;
}

.star-record {
    margin-top: 15px;
    font-size: 60px;
    color: #f5ca23;
    text-shadow: 2px 3px 5px #f5ca23;
}

.star-record span {
    padding-left: 10px;

}

.hr-line {
    height: 3px;
    margin-top: 20px;
    background: #e8e8e8;
}

#acc-input-box {
    width: 700px;
    height: 120px;
    font-size: 14px;
    border: 3px solid #70b2fe;
    border-radius: 100px;
    background: #e2efff;
    transition: width .5s;
    -moz-transition: width .5s;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
    transition-delay: .1s;
    -moz-transition-delay: .1s;
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    margin: 0px auto;
}

#acc-input-box input {
    outline: none;
    margin-left: 75px;
    width: 500px;
    height: 120px;
    font-size: 45px;
    color: #7BB5EC;
    border: 1px solid #e2efff;
    background: #e2efff;
    box-shadow: inset 0 1px 1px #e2efff;
    -webkit-box-shadow: inset 0 1px 1px #e2efff;
    -moz-box-shadow: inset 0 1px 1px #e2efff;
    line-height: normal;
}

#acc-input-box input:focus {
    box-shadow: inset 0 1px 1px #e2efff;
    -webkit-box-shadow: inset 0 1px 1px #e2efff;
    -moz-box-shadow: inset 0 1px 1px #e2efff;
}

.php-big-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#acc-input-box .php-big-circle {
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    background-color: #70b2fe;
    border: 0px;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.rmb-font {
    margin-top: 30px;
    clear: both;
    font-weight: bolder;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
}

.php-small-circle {
    width: 50px;
    height: 50px;
    display: -moz-inline-box; /* css注释：for ff2 */
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    background-color: #70b2fe;
}

.big-font-space-3 {
    letter-spacing: 3px;
}

.big-font {
    font-size: 45px;
    color: #7BB5EC;
}

.big-font-30 {
    font-size: 30px;
}

.big-font-25 {
    font-size: 25px;
}

.font-weight-bold {
    font-weight: bold;
}

.bottom-bord-black {
    color: #0e0e0e;
    text-decoration-line: underline;
    -webkit-text-decoration-line: underline;
    -moz-text-decoration-line: underline;
    text-decoration-color: #72b1f7;
    -webkit-text-decoration-color: #72b1f7;
    -moz-text-decoration-color: #72b1f7;
    text-decoration-style: solid;
    -webkit-text-decoration-style: solid;
    -moz-text-decoration-style: solid;
}

.money-icon {
    color: #F5CA23;
    font-weight: bolder;
}

.big-font-50 {
    font-size: 50px;
}

.big-font-150 {
    font-size: 150px;
}

.big-font-120 {
    font-size: 120px;
}

.big-font-90 {
    font-size: 90px;
}

.big-font-40 {
    font-size: 40px;
}
.big-font-45{
    font-size: 45px;
}
.text-color-g, .text-color-g-b, .fail-reason {
    color: #888a8b;
}

.text-color-g-b {
    text-decoration-line: underline;
    text-decoration-color: #888a8b;
    text-decoration-style: solid;
}

.bottom-bord-weight {
    /*background: linear-gradient(#0e0e0e, #0e0e0e) no-repeat 0 1.15em;
    background-size: 100% 10px;*/
    text-decoration-line: underline;
    text-decoration-color: #72b1f7;
    text-decoration-style: solid;
}

.count-amount {
    color: #72B1F7;
    font-weight: bold;
}

.text-color-blue {
    color: #72B1F7;
}

.big-button-blue, .big-button-yellow {
    color: #ffffff;
    font-weight: bold;
    height: 100px;
    width: 600px;
    background: #71b2ff;
    border-radius: 50px;
    display: -moz-inline-box; /* css注释：for ff2 */
    display: inline-block;
    line-height: 100px;
    box-shadow: 0 0 30px rgba(109, 177, 254, 1);
    -webkit-box-shadow: 0 0 30px rgba(109, 177, 254, 1);
    -moz-box-shadow: 0 0 30px rgba(109, 177, 254, 1);
}

.big-button-yellow {
    background: #f5ca23;
    box-shadow: 0 0 30px rgba(245, 202, 35, 1);
    -webkit-box-shadow: 0 0 30px rgba(245, 202, 35, 1);
    -moz-box-shadow: 0 0 30px rgba(245, 202, 35, 1);
}

.big-button-blue:hover, .empty-btn-s:hover {
    background: #71b2ff;
    text-decoration: none;
}

.big-button-yellow:hover {
    background: #f5ca23;
    color: #ffffff;
    text-decoration: none;
}

#acc-input-box input::-webkit-input-placeholder {
    color: #7BB5EC;
}

.ovfHiden {
    overflow: hidden;
    height: 100%;
}

#acc-input-box input:-moz-placeholder {
    color: #7BB5EC;
}

#acc-input-box input::-moz-placeholder {
    color: #7BB5EC;
}

.blue-pic-icon {
    color: #71b2ff;
}

#acc-input-box input:-ms-input-placeholder {
    color: #7BB5EC;
}

.star-bg-empty, .star-sm-empty {
    display: inline-block;
    margin: 30px 5px 0px -15px;
    width: 60px;
    height: 60px;
    position: relative;
    background: #ffffff url(../img/start-empty.png) no-repeat;
    background-size: 46px 50px;
    -moz-background-size: 46px 50px;
}

.bottomControl {
    height: 70px;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding-left: 30px;
}

.star-bg-full, .star-sm-full {
    margin: 30px 5px 0px -15px;
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    background: #ffffff url(../img/start-full.png) no-repeat;
    background-size: 46px 50px;
    -moz-background-size: 46px 50px;
}

.bottomControl-small {
    height: 60px;
    width: 100%;
    margin: -25px 0px 0px 0px;
    padding-left: 15px;
}

.star-sm-full, .star-sm-empty {
    width: 40px;
    height: 40px;
    background-size: 30px;
    -moz-background-size: 30px;
}

.recommend-list {
    margin: 30px 30px 0px -15px;
    display: inline-block;
    position: relative;
}

.recommend-list div:first-child {
    width: 200px;
    height: 150px;
    background-color: #0e0e0e;
    border-radius: 50px;
}

.content-left {
    margin-left: 30px;
}

.row-div {
    display: inline-block;
    vertical-align: middle;
}

.star-d {
    width: 74px;
    height: 80px;
    background-size: 74px 80px;
    margin: 50px 15px 0px -15px;
}

.bottomControl-d {
    height: 140px;
    width: 100%;
    margin: 0px;
    text-align: center;
    padding-left: 30px;
}

.hr-height, .hr-height-tip {
    height: 60px;
    background-color: #f3f3f3;
}

.hr-height-tip {
    padding-left: 20px;
    font-weight: bold;
    line-height: 65px;
    font-size: 25px;
}

#star-dg {
    height: 180px;
}

.discuss-box ul {
    width: auto;
}

.discuss-box ul li {
    list-style: none;
    width: auto;
    height: auto;
    display: inline-block
}

.discuss-box ul li a {
    float: none;
    display: block;
}

.discuss-box ul li a span {
    display: block;
}

.discuss-box input[type=checkbox] {
    visibility: hidden;
}

.discuss-box-select-n, .discuss-box-select, .empty-btn-s, .full-btn-s {
    border: solid #71b2ff 3px;
    color: #000;
    height: 70px;
    border-radius: 35px;
    padding-left: 40px;
    padding-right: 40px;
}

.empty-btn-s {
    border-width: 2px;
    font-size: 30px;
    padding: 5px 40px 5px 40px;
    margin: 0px 10px 0px 10px;
}

.full-btn-s {
    font-size: 35px;
    padding: 10px 70px 10px 70px;
    margin: 0px 10px 0px 10px;
    background-color: #71b2ff;
    color: #ffffff;
    box-shadow: 0 0 30px rgba(109, 177, 254, 1);
    -webkit-box-shadow: 0 0 30px rgba(109, 177, 254, 1);
    -moz-box-shadow: 0 0 30px rgba(109, 177, 254, 1);
}

.full-btn-s:hover {
    background: #71b2ff;
    text-decoration: none;
}

.discuss-box li {
    padding: 10px 15px 10px 15px;
}

.discuss-box li div label {
    font-size: 35px;
}

.big-font-35, .fail-reason {
    font-size: 35px;
}

.discuss-box-select {
    color: #fff;
    border-color: #bedbfd;
    background: #bedbfd;
}

#description {
    height: 200px;
    width: 100%;
    font-size: 35px;
    padding-top: 20px;
    line-height: 50px;
    resize: none;
}

.box {
    width: 100%;
    display: flex;
}

.left_box, .right_box {
    width: 50px;
}

.center_box, .center_box-2 {
    flex: 1;
}

.center_box .left_box {
    width: 400px;
}

.center_box .right_box {
    width: 400px;
}

.pic-small {
    border: dashed #979797 2px;
    height: 100px;
    width: 100px;
    padding-left: 10px;
}

.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
}

.text-color-y, .recommend-box-title-y {
    color: #f5ca23;
}

.box-2, .m-row {
    width: 100%;
    display: flex;
}

.discuss-box-img {
    width: 100%;
    display: inline-block;
}

.left_box-2, .right_box-2 {
    width: 2px;
}

.center_box-2 {
    overflow: hidden;
}

.list-content {
    vertical-align: top;
    white-space: nowrap;
}

#slip-pk, .list-content, .recommend-box, .center_box-2, .box-2 {
    height: 300px;
}

.recommend-box {
    height: 300px;
    padding: 20px 20px 20px 20px;
}

.recommend-box-img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.recommend-box-content, .red-package {
    position: relative;
}

.recommend-box-title, .recommend-box-title-y {
    position: absolute;
    font-size: 25px;
    color: #ffffff;
    padding: 2px 10px 2px 10px;
    background-color: #71b2ff;
    border-radius: 15px;
    margin-top: 15px;
    margin-left: 10px;
}

.red-package-amount {
    position: absolute;
    font-size: 20px;
    width: 412px;
    height: 222px;
    margin-top: 230px;
    margin-left: 130px;
    vertical-align: middle;
    background: url("../img/amount-panel.png") no-repeat;
    transform: rotate(9deg);
    -ms-transform: rotate(9deg); /* Internet Explorer */
    -moz-transform: rotate(9deg); /* Firefox */
    -webkit-transform: rotate(9deg); /* Safari 和 Chrome */
    -o-transform: rotate(9deg);
}

.recommend-box-title-y {
    text-decoration: line-through;
    color: #ffffff;
    background-color: #ffd04d;
}

.recommend-box title-box {
    font-size: 30px;
    color: #585858;
    line-height: 45px;
}

#slip {
    margin-left: 20px;
}

.m-col-sm-3 {
    width: 20%;
}

.m-col-sm-6 {
    width: 80%;
}

.sm-head-s {
    margin-left: 20%;
}

.m-row {
    clear: both;
    margin-top: 30px;
}

.discuss-text-show {
    font-size: 30px;
    line-height: 40px;
    color: #888a8b;
    width: 95%;
    margin-top: 10px;
}

.discuss-box-border {
    border-bottom: solid #dadada 2px;
    margin-bottom: 10px;
}

.pic-bg-cell {
    width: 150px;
    height: 150px;
    margin-right: 10%;
}

.discuss-box-img {
    margin-bottom: 20px;
}

.fail-reason {
    width: 560px;
    display: block;
    line-height: 50px;
    margin: 0px auto;
}

.mask {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.4);
}

.row {
    margin: 0px;
}

#face, #opposite, .mask .dilog-center {
    height: 800px;
}

.mask .dilog-center {
    left: 50%;
    top: 3%;
    width: 682px;
    margin-left: -350px;
}

.form-txt-setting {
    color: #9b2cff;
    margin-right: 80px;
}

.red-package-amount p:first-child {
    color: #fec83d;
    margin-left: 70px;
    margin-top: 90px;
}

.red-package-amount p:first-child span {
    color: #dc3a4b;
}

.key-border-customer .key-border-c-non {
    background-color: #545457;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    -khtml-opacity: 0;
    opacity: 0;
}

.key-border-customer-hide, .key-border-customer-show {
    display: none;
    width: 100%;
}

.key-border-customer-show {
    z-index: 99;
    display: inherit;
}

.key-border-customer-show .col-sm-4,#keyBorderM .col-sm-2 {
    background-color: #87878a;
    height: 130px;
    color: #ffffff;
    font-size: 50px;
    line-height: 130px;
    /*font-weight: bold;*/
    filter: alpha(opacity=90);
    -moz-opacity: 0.9;
    -khtml-opacity: 0.9;
    opacity: 0.9;
}
.key-border-customer-show .col-sm-4:active,#keyBorderM .col-sm-2:active{
    background-color:#545457;
}
#keyBorderM .nan-number .col-sm-4:first-child,#keyBorderM .nan-number .col-sm-4:last-child{
    background-color:#545457;
}
#keyBorderM .nan-number .col-sm-4:first-child:active,#keyBorderM .nan-number .col-sm-4:last-child:active{
    background-color: #87878a;
}
.key-border-c-right {
    border-right: solid #545457 3px;
}

.key-border-c-bottom {
    border-bottom: solid #545457 3px;
}

#div-input-customer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 66;
}