body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: subpixel-antialiased;
    min-width: 700px;
    width: 100%;
    margin-right: 0px;
}

body section:first-child {
    margin-left: 2px;
    margin-right: 2px;
}

.top-control {
    margin-top: 30px;
}

.top-control-10 {
    margin-top: 10px;
}

.top-control-50 {
    margin-top: 50px;
}

.top-control-80 {
    margin-top: 80px;
}

.top-control-150 {
    margin-top: 150px;
}

.content-center {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.circle-head-big {
    width: 220px;
    height: 220px;
    border: 1px solid #ddd;
    border-radius: 50%;
}

.title-name {
    font-weight: bold;
    font-size: 40px;
    padding-top: 10px;
}

.row-height {
    margin-top: 50px;
}

.pay-address {
    font-size: 30px;
    margin-top: 10px;
    color: #b3b3b3;
}

.star-record {
    margin-top: 15px;
    font-size: 60px;
    color: #f5ca23;
    text-shadow: 2px 3px 5px #f5ca23;
}

.star-record span {
    padding-left: 10px;

}

.hr-line {
    height: 3px;
    margin-top: 20px;
    background: #e8e8e8;
}

#acc-input-box {
    width: 700px;
    height: 120px;
    font-size: 14px;
    border: 3px solid #70b2fe;
    border-radius: 100px;
    background: #e2efff;
    transition: width .5s;
    -moz-transition: width .5s;
    -webkit-transition: width .5s;
    -o-transition: width .5s;
    transition-delay: .1s;
    -moz-transition-delay: .1s;
    -webkit-transition-delay: .1s;
    -o-transition-delay: .1s;
    margin: 0px auto;
}

#acc-input-box input {
    outline: none;
    margin-left: 75px;
    width: 500px;
    height: 120px;
    font-size: 45px;
    color: #7BB5EC;
    border: 1px solid #e2efff;
    background: #e2efff;
    box-shadow: inset 0 1px 1px #e2efff;
    -webkit-box-shadow: inset 0 1px 1px #e2efff;
    -moz-box-shadow: inset 0 1px 1px #e2efff;
}

#acc-input-box input:focus {
    box-shadow: inset 0 1px 1px #e2efff;
    -webkit-box-shadow: inset 0 1px 1px #e2efff;
    -moz-box-shadow: inset 0 1px 1px #e2efff;
}

.php-big-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

#acc-input-box .php-big-circle {
    font-size: 40px;
    font-weight: bolder;
    color: #ffffff;
    text-align: center;
    background-color: #70b2fe;
    border: 0px;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
}

.rmb-font {
    margin-top: 30px;
    clear: both;
    font-weight: bolder;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
}

.php-small-circle {
    width: 50px;
    height: 50px;
    display: -moz-inline-box; /* css注释：for ff2 */
    display: inline-block;
    border-radius: 50%;
    font-size: 20px;
    font-weight: normal;
    color: #ffffff;
    text-align: center;
    background-color: #70b2fe;
}

.big-font-space-3 {
    letter-spacing: 3px;
}

.big-font {
    font-size: 45px;
    color: #7BB5EC;
}

.big-font-30 {
    font-size: 30px;
}

.font-weight-bold {
    font-weight: bold;
}

.money-icon {
    color: #F5CA23;
    font-weight: bolder;
}

.bottom-bord-black {
    color: #0e0e0e;
    text-decoration-line: underline;
    text-decoration-color: #72b1f7;
    text-decoration-style: solid;
}

.big-font-50 {
    font-size: 50px;
}

.big-font-150 {
    font-size: 150px;
}

.big-font-120 {
    font-size: 120px;
}

.big-font-90 {
    font-size: 90px;
}

.text-color-g, .text-color-g-b {
    color: #888a8b;
}

.text-color-g-b {
    text-decoration-line: underline;
    text-decoration-color: #888a8b;
    text-decoration-style: solid;
}

.bottom-bord-weight {
    /*background: linear-gradient(#0e0e0e, #0e0e0e) no-repeat 0 1.15em;
    background-size: 100% 10px;*/
    text-decoration-line: underline;
    text-decoration-color: #72b1f7;
    text-decoration-style: solid;
}

.count-amount {
    color: #72B1F7;
    font-weight: bold;
}

.big-button-blue {
    color: #ffffff;
    font-weight: bold;
    height: 100px;
    width: 600px;
    background: #71b2ff;
    border-radius: 50px;
    display: -moz-inline-box; /* css注释：for ff2 */
    display: inline-block;
    line-height: 100px;
    box-shadow: 0 0 30px rgba(109, 177, 254, 1);
    -webkit-box-shadow: 0 0 30px rgba(109, 177, 254, 1);
    -moz-box-shadow: 0 0 30px rgba(109, 177, 254, 1);
}

.big-button-blue:hover, .empty-btn-s:hover {
    background: #71b2ff;
    text-decoration: none;
}

#acc-input-box input::-webkit-input-placeholder {
    color: #7BB5EC;
}

#acc-input-box input:-moz-placeholder {
    color: #7BB5EC;
}

#acc-input-box input::-moz-placeholder {
    color: #7BB5EC;
}

.blue-pic-icon {
    color: #71b2ff;
}

#acc-input-box input:-ms-input-placeholder {
    color: #7BB5EC;
}

.star-bg-empty {
    display: inline-block;
    margin: 30px 15px 0px -15px;
    width: 60px;
    height: 60px;
    position: relative;
    background: #ffffff url(../img/start-empty.png) no-repeat;
    background-size: 46px 50px;
    -moz-background-size: 46px 50px;
}

.bottomControl {
    height: 70px;
    width: 100%;
    text-align: center;
}

.star-bg-full {
    margin: 30px 15px 0px -15px;
    display: inline-block;
    width: 60px;
    height: 60px;
    position: relative;
    background: #ffffff url(../img/start-full.png) no-repeat;
    background-size: 46px 50px;
    -moz-background-size: 46px 50px;
}

.recommend-list {
    margin: 30px 30px 0px -15px;
    display: inline-block;
    position: relative;
}

.recommend-list div:first-child {
    width: 200px;
    height: 150px;
    background-color: #0e0e0e;
    border-radius: 50px;
}

.content-left {
    margin-left: 50px;
}

.row-div {
    display: inline-block;
    vertical-align: middle;
}

.star-d {
    width: 74px;
    height: 80px;
    background-size: 74px 80px;
    margin: 50px 15px 0px -15px;
}

.bottomControl-d {
    height: 140px;
    width: 100%;
    margin-left: 10px;
    text-align: center;
}

.hr-height, .hr-height-tip {
    height: 60px;
    background-color: #f3f3f3;
}

.hr-height-tip {
    padding-left: 30px;
    font-weight: bold;
    line-height: 65px;
    font-size: 25px;
}

#star-dg {
    height: 180px;
}

.discuss-box ul {
    width: auto;
}

.discuss-box ul li {
    list-style: none;
    width: auto;
    height: auto;
    display: inline-block
}

.discuss-box ul li a {
    float: none;
    display: block;
}

.discuss-box ul li a span {
    display: block;
}

.discuss-box input[type=checkbox] {
    visibility: hidden;
}

.discuss-box-select-n, .discuss-box-select, .empty-btn-s {
    border: solid #71b2ff 5px;
    color: #000;
    height: 70px;
    border-radius: 35px;
    padding-left: 40px;
    padding-right: 40px;
}

.empty-btn-s {
    border-width: 2px;
    font-size: 35px;
    padding: 5px 40px 5px 40px;
    margin: 0px 10px 0px 10px;
}

.discuss-box li {
    padding: 10px 15px 10px 15px;
}

.discuss-box li div label {
    font-size: 40px;
}

.big-font-35 {
    font-size: 35px;
}

.discuss-box-select {
    color: #fff;
    border-color: #bedbfd;
    background: #bedbfd;
}

#description {
    height: 200px;
    width: 100%;
    font-size: 40px;
    padding-top: 20px;
    line-height: 50px;
    resize: none;
}

.box {
    width: 100%;
    display: flex;
}

.left_box, .right_box {
    width: 50px;
}

.center_box, .center_box-2 {
    flex: 1;
}

.center_box .left_box {
    width: 400px;
}

.center_box .right_box {
    width: 400px;
}

.pic-small {
    border: dashed #979797 2px;
    height: 100px;
    width: 100px;
    padding-left: 10px;
}

.fileinput-button {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.fileinput-button input {
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    -ms-filter: 'alpha(opacity=0)';
}

.text-color-y {
    color: #f5ca23;
}

.box-2 {
    width: 100%;
    display: flex;
    height: 300px;
}

.left_box-2, .right_box-2 {
    width: 2px;
}

.center_box-2 {
    height: 300px;
    overflow: hidden;
}

.list-content {
    vertical-align: top;
    height: 300px;
}

.recommend-box {
    width: 330px;
    height: 300px;
    margin-left: 5px;
    padding: 20px 20px 20px 20px;
}

.recommend-box-img {
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.recommend-box-content {
    position: relative;
}

.recommend-box-title {
    position: absolute;
    font-size: 20px;
    color: #ffffff;
    padding: 2px 10px 2px 10px;
    background-color: #71b2ff;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.recommend-box title-box {
    font-size: 30px;
    color: #585858;
    line-height: 45px;
}